*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 40px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item {
    background: transparent;
    padding: 10px;
    border: 1px solid silver;
    margin: 5px;
}

.main {
    position: fixed;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    min-height: 500px;
    min-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.balance-block {
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}
